<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fight_corona">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mask"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".statedata"
            android:label="@string/title_activity_statedata"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".scanner"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".policemain"
            android:label="@string/title_activity_policemain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".police"
            android:label="@string/title_activity_police"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".genpass" />
        <activity
            android:name=".register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:label="@string/appname"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>